<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
    <body>
        {% comment %}
        <h2>Tags</h2>
        <h3>autoescape</h3>
        {% autoescape on %}
            {{ text1 }}
        {% endautoescape %}
        {% autoescape off %}
            {{ text1 }}
        {% endautoescape %}
        {% endcomment %}


        {% comment %}
        <h3>comment</h3>
        {{ title }}
        {% autoescape off%}
        {{ text1 }}
        {% endautoescape %}
        {% endcomment %}

        <h3>Filter</h3>
        <p>{{ var1 | lower }}</p>
        <p>
            {% filter lower %}
                {{ var1 }}
            {% endfilter %}
        </p>

        <p>
            {% filter upper %}
                {{ var1  }}
            {% endfilter %}
        </p>
    </body>
</html>